.App {
  text-align: center;
}

.App-header {
  font-family: "Quicksand", sans-serif;
}

.App-logo {
  height: 10vmin;
  margin: none;
  padding: none;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 10vmin;
  margin: none;
  padding: none;
}

.push {
  height: 10vh;
}

.push-content {
  height: 16vh;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px 30px 0 30px;
  overflow: hidden;
  background-color: white;
  overflow: hidden;
  z-index: 9999;
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
}

.ui.card > .content > .description,
.ui.cards > .card > .content > .description.author-card-container {
  font-size: larger;
}

.Homepage-link,
.Homepage-link:active,
.Homepage-link:hover {
  float: right;
  font-size: larger;
  font-weight: normal;
  color: #2f046d;
  display: block;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #716f72;
  position: relative;
}

.navbar-link,
.navbar-link:active,
.navbar-link:hover {
  float: left;
  display: block;
  color: #716f72;
  padding: 10px 12px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-right: auto;
  font-size: larger;
}
.ui.form.sign-in-form {
  margin: 100px, 200px, 200px 0;
}
.sign-in-up-form {
  text-align: center;
  margin: 30px 30px;
}
.page {
  width: 100%;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 50px;
  padding: 10px 30px 0 30px;
}

.book-details {
  margin: 50px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

.author-details {
  /* margin: 50px 350px; */
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.author-id-name,
.ui.grid
  .centered.row
  > .column:not(.aligned):not(.justified).author-like-button {
  text-align: center;
}

.theory-details {
  margin: 50px 350px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.author-bio,
.theory-description {
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  font-family: "Quicksand", sans-serif;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  font-family: "Quicksand", sans-serif;
}

.user-info-font {
  font-size: larger;
}
.user-info-grid {
  font-family: "Quicksand", sans-serif;
  margin: 50px;
  font-size: x-large;
  /* width: 70%; */
}

.sign-in-form {
  padding: 20px;
  display: flexbox;
}

a.item {
  font-family: "Quicksand", sans-serif;
}

.book-liked,
.author-liked,
.theory-liked {
  color: #2f046d;
}

.book-not-liked,
.author-not-liked,
.theory-not-liked {
  color: rgb(184, 182, 182);
}

.book-not-liked:hover,
.author-not-liked:hover {
  color: #8152c2;
}

.like.big.icon.theory-not-liked:hover {
  color: purple;
}

.i.icon,
i.icons {
  font-size: 2em;
}

.author-like-button {
  color: transparent;
  /* font-size: 2em; */
}

.ui.card > .content .like.icon:hover,
.ui.cards
  > .card
  > .content
  .like.icon:hover
  .theory-like-button:hover
  .theory-not-liked:hover
  .theory-liked:hover {
  color: #663f9c !important;
}

.ui.card >,
.content,
.header,
div,
.ui.four.cards {
  font-family: "Quicksand", sans-serif;
}

.user-photo {
  height: 10%;
  width: 10%;
}

.image-homepage {
  height: 230px;
  padding: 10px;
}

.column-homepage {
  vertical-align: middle;
}

.ui.segment.segment-covers {
  float: right;
  display: flexbox;
  max-height: 230px;
  box-shadow: none;
  border: none;
  border-style: none;
  vertical-align: middle;
  padding: 0;
}

.feminism-definition {
  padding: 0;
  border: none;
  border-style: none;
}

.mail-icon {
  color: #2f046d;
}
.first-row {
  margin: 50px;
  margin-bottom: 0;
  vertical-align: middle;
}
.ui.grid > .row > .column {
  padding: 0;
}

.div.eight.wide.column.feminist-and-books,
.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  padding-left: 0;
}

.ui.segment.feminism-and-books {
  box-shadow: none;
  border: none;
  border-style: none;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.homepage-grid {
  /* display: grid; */
  /* padding: 20px; */
  margin: 50px;
  /* padding-top: 80px */
}

.book-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  max-height: 150px;
  max-width: 200px;
}

.book-2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  max-height: 150px;
  max-width: 200px;
}

.book-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  max-height: 150px;
  max-width: 200px;
}

.book-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  max-height: 150px;
  max-width: 200px;
}

.about-fh {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.fh-paragraph {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

.contact-form {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

.options-bar,
.books-dropdown {
  display: inline-flex;
  text-align: center;
  padding: 20px;
}

.search-bar {
  display: inline-flex;
  text-align: center;
  padding: 20px;
}

.container-filter {
  display: flexbox;
}
.ui.labeled.icon.button,
.ui.dropdown {
  background-color: rgb(238, 238, 238);
  color: #716f72;
}

.review-card,
.card-group {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  padding: 0px 50px 50px 70px;
}

.review-comment {
  text-align: justify;
}

.review-form {
  padding: 30px;
  font-family: "Quicksand", sans-serif;
  width: 350px;
  height: 400px;
}

.star-form {
  padding: 10px;
}

.stars-review-card {
  text-align: left;
}

.review-submit {
  float: right;
  font-family: "Quicksand", sans-serif;
  margin-top: 20px;
}

.review-text,
.ui.form input[type="checkbox"],
.ui.form textarea {
  height: 150px;
}

.ui.two.cards {
  padding: 0 50px 40px 50px;
  margin: 0;
}

.username-review {
  text-align: right;
}
.edit-review-button,
.review-delete-button,
.review-save-button {
  float: right;
}

.author-container,
.theories-container,
.book-container {
  padding: 10px 20px 0 20px;
  display: inline-block;
}

.book-cover-container,
.author-card-container {
  padding: 20%;
  font-family: "Quicksand", sans-serif;
  word-wrap: break-word;
  /* font-size: larger; */
}

.ui.card > .image:not(.ui) > img,
.ui.cards > .card > .image:not(.ui) > img {
  background-color: white;
  padding: 20%;
}

.ui.card > .content > .description,
.ui.cards > .card > .content > .description:hover {
  color: #2f046d;
}

.ui.four.cards {
  margin-right: 0;
  margin-left: 0;
}

a,
.books-by-author {
  color: #2f046d;
  font-weight: lighter;
  text-align: center;
}

.Footer {
  background-color: rgb(238, 238, 238);
  padding: 12px;
  margin-top: 6px;
  width: 100%;
  height: 5vh;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 9999;
}

.ui.secondary.pointing.menu.secondary.stackable {
  justify-content: center;
}

.username-display {
  font-size: larger;
}

.dashboard-link,
.info-displayed {
  color: #2f046d;
  font-size: larger;
  margin: 10px;
}

.footer-text {
  color: #2f046d;
}

.book-title {
  display: inline-flex;
  font-size: x-large;
}

.like-button-book-id {
  display: inline-flex;
  padding: 10px;
}

.title-like {
  text-align: left;
  margin-left: 50px;
  padding-top: 50px;
}

.ui.grid {
  margin-left: 0;
  margin-right: 0;
}

.cover-details,
.reviews-header {
  margin: 0px 50px;
  vertical-align: middle;
}

.ui.three.cards {
  margin: 0;
}

.book-cover {
  padding: 40px;
  border-style: solid;
  border-color: rgb(247, 246, 246);
  box-shadow: 5px 10px 8px rgb(240, 236, 240);
  vertical-align: middle;
}

.book-details-grid {
  vertical-align: middle;
  text-align: justify;
  font-size: larger;
  font-family: "Quicksand", sans-serif;
}

.book-thumbnail {
  width: 100%;
  height: auto;
  padding: 10px;
}

.thumbnail-div {
  float: right;
  display: flexbox;
  height: 230px;
  width: 180px;
}

.ui.segment.book-thumbnail {
  height: 50%;
}

.book-author-link {
  color: #2f046d;
}

.book-year-others {
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

.display-margin {
  margin: 0px, 0px;
  display: inline-flex;
}

.amazon {
  padding: 0;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
}

.ui.button.buy-book {
  float: right;
  display: flex;
  background: white;
  text-align: right;
  padding: 0;
}

.i.amazon.huge.icon,
.amazon.huge.icon,
.amazon.ui.button > .icon:not(.button),
.amazon.ui.button > .icon:not(.button) {
  margin: 0 !important;
}

.ui.button > .icon:not(.button) {
  margin: 0;
}

.amazon.huge.icon.amazon-icon {
  margin: 0 !important;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.review-button-div {
  display: block;
  padding-top: 0px;
  float: right;
}

.ui.header.review-word {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  color: #716f72;
  padding-top: 30px;
  padding-left: 5px;
}

.ui.button.add-review-button {
  background: rgba(198, 198, 198, 0.1);
  /* border-style: solid;
  border-color: rgb(205, 205, 205) */
  display: inline-flex;
  text-align: right;
  color: #2f046d;
  margin-right: 5px;
}
.add-review-button {
  float: right;
  text-align: right;
}

.author-in-book {
  font-size: larger;
  font-family: "Quicksand", sans-serif;
}

.synopsis {
  font-family: "Quicksand", sans-serif;
}

.theory-like-button {
  float: right;
  display: inline-flex;
}

.theory-card {
  font-family: "Quicksand", sans-serif;
}

/* 
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not() */
