.App {
  text-align: center;
}

.App-header {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 10vmin;
  margin: none;
  padding: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 10vmin;
  margin: none;
  padding: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px 30px 0 30px;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
}

.Homepage-link,
.Homepage-link:active,
.Homepage-link:hover {
  float: right;
  font-size: larger;
  font-weight: bold;
  color: grey;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #716f72;
  position: relative;
}

.navbar-link,
.navbar-link:active,
.navbar-link:hover {
  float: left;
  display: block;
  color: #716f72;
  padding: 10px 12px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-right: auto;
  font-size: larger;
}

.sign-in-up-form {
  text-align: center;
  margin: 30px 30px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 50px;
}

.book-details,
.author-details {
  margin: 50px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  font-family: "Quicksand", sans-serif;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  font-family: "Quicksand", sans-serif;
}

.user-info-grid,
grid {
  margin-left: 50px;
  margin-top: 50px;
  font-family: "Quicksand", sans-serif;
}

a.item {
  font-family: "Quicksand", sans-serif;
}

.book-liked,
.author-liked,
.theory-liked {
  color: rgb(78, 14, 78);
}

.book-not-liked,
.author-not-liked,
.theory-not-liked {
  color: rgb(184, 182, 182);
}

.i.icon,
i.icons {
  font-size: 2em;
}

.like-button {
  color: transparent;
  font-size: 2em;
}

.ui.card >,
.content,
.header,
div,
.ui.four.cards {
  font-family: "Quicksand", sans-serif;
}

.user-photo {
  height: 50%;
  width: 50%;
}

.feminism-definition {
  padding: 30px;
  height: 50%;
  width: 50%;
  border: none;
  border-style: none;
  float: left;
}
