.App {
  text-align: center;
}

.App-header {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 10vmin;
  margin: none;
  padding: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 10vmin;
  margin: none;
  padding: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
}

.Homepage-link,
.Homepage-link:active,
.Homepage-link:hover {
  float: right;
  font-size: larger;
  font-weight: bold;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #716f72;
  position: relative;
}

.navbar-link,
.navbar-link:active,
.navbar-link:hover {
  float: left;
  display: block;
  color: #716f72;
  padding: 10px 12px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-right: auto;
  font-size: larger;
}

.sign-in-up-form {
  text-align: center;
  margin: 30px 30px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 10px 20px;
}

